<% json = JSON.parse File.read 'package.json' -%>
<?xml version='1.0' encoding='utf-8'?>
<widget id="gromnitsky.forvolight"
	version="<%= json['version'] %>"
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ForvoLight</name>
    <description>
      <%= json['description'] %>
    </description>
    <author email="<%= json['author']['email'] %>"
	    href="<%= json['homepage'] %>">
      <%= json['author']['name'] %>
    </author>
    <content src="index.html" />
    <access origin="*" />

    <icon src="icon.png" />
</widget>
