@media (min-width: 601px) {
  body {
    width: 600px;
    margin: 0 auto;
  }
}

#header {
  margin-bottom: 1em;
}

#header > a {
  display: inline-block;
  width: 24%;
  text-align: center;
  text-decoration: none;
  padding: 5px 0 5px;
  color: blue;
}

#header > a[class="selected"] {
  background-color: #005bbb;
  color: #ffd500;
}

#header > a:hover {
  background-color: #ffd500;
  color: #005bbb;
}

#search button,input {
  height: 2em;
}

#search input {
  width: 85%;
}

#preferences input {
  width: 100%;
}
