@media (min-width: 601px) {
  body {
    width: 600px;
    margin: 0 auto;
  }
}

/* Navigation */

#nav {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin: 0 0 1em;
  padding: 0;
}

#nav > a {
  display: table-cell;
  text-align: center;
  text-decoration: none;
  padding: 5px 0;
  color: blue;
}

#nav a[class="selected"] {
  background-color: #005bbb;
  color: #ffd500;
}

#nav a:hover {
  background-color: #ffd500;
  color: #005bbb;
}

/* Search */

#search button,
#search input {
  height: 2em;
}

#search form {
  margin-bottom: 1em;
}

/* <input> */
#search form > div > div {
  overflow: hidden;
}

#search form > select {
  margin-bottom: 3px;
}

#search form button {
  float: right;
  margin-left: 3px;
}

#search form input {
  width: 100%;
}

/* Preferences */

#preferences input {
  width: 100%;
}
